@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Tiny5&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: absolute;
    right: 0%;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    font-family: "Tiny5", sans-serif;
}
.blackGradient {
    width: 100%;
    height: 250px;
    background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0) );
    z-index: 50;
    position: absolute;

}
.topmenu img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100px;
    padding: 30px;
    flex: auto;
}
.main video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.mainText {
    position: absolute;
    z-index: 100;
    color: white;
    left: 170px;
    top: 300px;
    padding: 4px;
    text-align: left;
    
}
.mainText h2 {
    font-size: 6em;
    text-transform: uppercase;
}
.mainText h3 {
    font-size: 1.5em;
    padding-left: 15px;
}